@use "../../styles/colors";

.footer {
    position: absolute;
    padding: 10px;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: colors.$background_paper;
}

.text {
    color: colors.$text_secondary !important;
    text-align: center;
}

.footer_button {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    font-family: "Montserrat" !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 0.9rem !important;
    line-height: 17px !important;
    color: colors.$text_hint;
    padding: 0 20px 0 0 !important;
}
