@use "../../styles/colors";

.header {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 20px;
    color: colors.$text_primary;
}

.trending_wrapper {
    padding: 100px;
    background-color: colors.$primary_main;
}
